{% extends "index.html" %}
<!-- ================= -->
{% block title %} Map {% endblock %}
<!-- ================= -->
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='register/styles.css') }}" />
{% endblock %}
<!-- ================= -->
{% block sidebar %} {% endblock %}

{% block auth_buttons %}{% endblock %} {% block content %}
<div id="formMessage"></div>
<div class="register-box">
  <h2>Register YourSelf</h2>

  <form id="registerForm">
    <label>Warrior Name</label>
    <input type="text" name="username" autocomplete="username" required />

    <label>Password</label>
    <input type="password" name="password" autocomplete="current-password" required minlength="4" />

    <button id="submit" type="submit">⚔ Enter the Battle</button>
  </form>

  <a href="/" class="back">← Go Back</a>
</div>
{% endblock %}

<!-- ================= -->
{% block extra_scripts %}
<script type="module" src="{{ url_for('static', filename='register/script.js') }}"></script>
{% endblock %}